https://platform.stratascratch.com/coding/10319-monthly-percentage-difference?code_type=2

Given a table of purchases by date, calculate the month-over-month percentage change in revenue. The output should include the year-month date (YYYY-MM) and percentage change, rounded to the 2nd decimal point, and sorted from the beginning of the year to the end of the year.

The percentage change column will be populated from the 2nd month forward and can be calculated as ((this month's revenue - last month's revenue) / last month's revenue)*100

Load dataframe

In [7]:
import pandas as pd
sf_transactions= pd.read_csv('sf_transactions.csv', sep='\t')
sf_transactions['created_at']=pd.to_datetime(sf_transactions['created_at'],infer_datetime_format=False) #convert column to a datetime object for better usability

print(sf_transactions)
print(sf_transactions.dtypes)

    id          created_at   value  purchase_id
0    1 2019-01-01 01:00:40  172692           43
1    2 2019-01-05 00:00:00  177194           36
2    3 2019-01-09 00:00:00  109513           30
3    4 2019-01-13 00:00:00  164911           30
4    5 2019-01-17 00:00:00  198872           39
..  ..                 ...     ...          ...
87  88 2019-12-15 00:00:00  187243           36
88  89 2019-12-19 00:00:00  152538           20
89  90 2019-12-23 00:00:00  178861           34
90  91 2019-12-27 00:00:00  122675           30
91  92 2019-12-31 00:00:00  104037           18

[92 rows x 4 columns]
id                      int64
created_at     datetime64[ns]
value                   int64
purchase_id             int64
dtype: object

Group by month:

In [5]:
groupbymonth=sf_transactions.groupby(pd.Grouper(key='created_at',freq='M')).sum().reset_index()[['created_at','value']]
groupbymonth

   created_at    value
0  2019-01-31  1332636
1  2019-02-28   952031
2  2019-03-31  1174373
3  2019-04-30  1011869
4  2019-05-31  1148390
5  2019-06-30  1116470
6  2019-07-31  1049530
7  2019-08-31  1347176
8  2019-09-30  1280233
9  2019-10-31  1117846
10 2019-11-30  1137016
11 2019-12-31  1113028

Compute percent change: there exist a pandas function that does exactly that:

In [9]:
groupbymonth['revenue_diff_pct']=groupbymonth['value'].pct_change()
pct_change=groupbymonth[['created_at','revenue_diff_pct']]
pct_change
#todo: only display year, date in the date column, round revenue_diff_pct to second digit

   created_at  revenue_diff_pct
0  2019-01-31               NaN
1  2019-02-28         -0.285603
2  2019-03-31          0.233545
3  2019-04-30         -0.138375
4  2019-05-31          0.134920
5  2019-06-30         -0.027795
6  2019-07-31         -0.059957
7  2019-08-31          0.283599
8  2019-09-30         -0.049691
9  2019-10-31         -0.126842
10 2019-11-30          0.017149
11 2019-12-31         -0.021097